body {
    margin: 0;
    padding: 0;
    background-color: #e9eaf4;
    color: #ffffffcc;
    font-family: "Micro 5", sans-serif;
    overflow-x: hidden;
    font-family: oxanium;
}

header {
    text-align: center;
    padding: 60px 20px 30px;
}

h1 {
    color: #2b61b8b0;
    font-size: 4rem;
    font-family: "Micro 5", sans-serif;
    text-shadow: 0 0 8px #2b61b8, 0 0 18px #20a9f9;
    animation: short-circuit 4s infinite;
}

@keyframes short-circuit {

    0%,
    7%,
    11%,
    15%,
    100% {
        opacity: 1;
        text-shadow: 0 0 8px #2b61b8, 0 0 18px #20a9f9;
    }

    8%,
    12% {
        opacity: 0.15;
        text-shadow: none;
    }

    9%,
    13% {
        opacity: 0.8;
        text-shadow: 0 0 15px #ffffff, 0 0 30px #20a9f9;
    }

    14% {
        opacity: 0.35;
    }
}


.carousel-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 300px));
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
}

.fade-carousel {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px #101fc833;
    cursor: pointer;
}

.carousel-track {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-track img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-track img.active {
    opacity: 1;
}

@media (max-width: 600px) {
    .carousel-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 15px;
        padding: 20px 15px;
    }
}

.webapp-card {
    max-width: 600px;
    margin: 100px auto 60px;
    padding: 35px 20px;
    text-align: center;
    background-color: #022c5733;
    border: 1px solid #20a9f944;
    border-radius: 20px;
    box-shadow: 0 0 20px #101fc833;
}

.webapp-card h2 {
    margin-top: 0;
    color: #20a9f9a2;
}

.webapp-card p {
    margin-bottom: 0;
    color: #ffffffaa;
}


/* Button */
.center {
    text-align: center;
}

.btn-back {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #007bff22;
    color: #de47c282;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-back:hover {
    background-color: #0057b342;
    color: #20a9f9a2;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 80px;
    font-size: 0.8rem;
    color: #555;
    padding-bottom: 40px;
}