body {
    margin: 0;
    padding: 0;
    background-color: #03051e;
    color: #ffffffcc;
    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
    font-family: oxanium;
}

header {
    text-align: center;
    padding: 60px 20px 30px;
}

h1 {
    font-size-adjust: calc(10%);
    color: #2b61b8cc;
    font-family: oxanium;
}

.fade-carousel {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px #101fc833;
    cursor: pointer;
}

.carousel-track {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-track img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-track img.active {
    opacity: 1;
}

/* Mobile responsive */
@media (max-width: 600px) {
    .fade-carousel {
        width: 90%;
        height: 300px;
    }
}




/* Button */
.center {
    text-align: center;
}

.btn-back {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: #007bff22;
    color: #de47c282;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-back:hover {
    background-color: #0057b342;
    color: #20a9f9a2;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 80px;
    font-size: 0.8rem;
    color: #555;
    padding-bottom: 40px;
}